@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@700&family=Lato:wght@400;700;900&family=Montserrat:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

body {
    background-color: rgb(24,25,26);
}

.main {
    padding: 0;
    position: relative;
    margin-top: 87px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav,
.main-middle,
.main-right {
    color: white;
}

.nav {
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    top: 80px;
    /* position: relative; */
    width: 300px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin-right: 20px;
    border-right: 1px solid rgb(24,25,26);;
    /* overflow-y: scroll; */
}

.nav-menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.nav-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-profile-pic {
    width: 27px;
    border-radius: 50%;
    margin-right: 8px;
}

.nav-menu-icon {
    width: 25px;
    margin-right: 10px;
}

.nav-profile-name, 
.nav-menu-name {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15   px;
    word-wrap: break-word;
}

.separator {
    border: 1px solid rgb(99, 99, 99);
    border-bottom: none;
    margin-bottom: 17px;
}

.separator-main-middle {
    border: 1px solid rgb(99, 99, 99);
    border-bottom: none;
    margin-bottom: 17px;
    width: 700px;
}

.section-title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color:rgb(175,178,183);
    font-size: 18px; 
    margin-bottom: 20px;
}

.nav-default-icon {
    width: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-shortcuts-icon {
    width: 36px;
    border-radius: 5px;
    margin-right: 10px;
}

.nav-footer {
    margin: 0;
    position: absolute;
    bottom: -88px;
    margin-top: 10px;
}

.nav-footer-list {
    margin-top: 50px;
}

.nav-footer-list span {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: rgb(175,178,183);
}

.main-middle {
    position: absolute;
    top: 0;
    left: 360px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.home-menu,
.home-post,
.home-posts {
    margin-bottom: 20px;
    width: 680px;
    background-color: rgb(36,37,38);
}

.home-menu {
    height: 300px;
    width: 700px;
    border-radius: 10px;
}

.home-menu-opt {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(43,44,45);
}

.home-menu-stories {
    z-index: 1;
}

.menu-opt-stories,
.menu-opt-reels,
.menu-opt-rooms {
    width: 225px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 3px 4px 3px 4px;
}

.menu-opt-stories {
    border-bottom: 3px solid rgb(46,137,255);
}

.menu-opt-stories:hover,
.menu-opt-reels:hover,
.menu-opt-rooms:hover {
    background-color: rgb(68, 66, 66);
}

.menu-opt-text {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(152,154,158);
    margin-left: 9px;
    margin-bottom: 4px;
    align-items: center;
}

.home-menu-stories {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stories {
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.stories-last {
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
}

.add-story {
    position: relative;
    height: 200px;
    width: 115px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}
.add-story-img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#add-story-btm {
    position:relative;
    height: 60px;
    background-color: rgb(36,37,38);
    box-shadow: 0 0 3px -1px black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.add-icon-container {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(36,37,38);
    top: 134px;
    left: 37px;
}

.add-story-icon {
    width: 35px;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

#add-story-txt {
    position: absolute;
    top: 25px;
    left: 22px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(227,229,234);
}

.story-prof-icon-cont {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(46,137,255);
    top: 10px;
    left: 10px;
}

.story-prof-icon {
    width: 33px;
    border-radius: 50%;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
}

.friend-story {
    position: relative;
    height: 200px;
    width: 115px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.friend-story-img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 9px;
    object-position: center;
    object-fit: cover;
}

.friend-story-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(227,229,234);
    width: 80px;
    word-wrap: break-word;
}

.separator-middle-txts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.most-recent-txt,
.back-to-toptxt {
    font-family: 'Lato', sans-serif;
}

.most-recent-txt {
    font-size: 16.5px;
    font-weight: bold;
    color: whitesmoke;
}

.back-to-toptxt {
    color: rgb(51,106,170);
    font-size: 15.5px;
}

.home-post {
    height: 130px;
    border-radius: 9px;
    padding-left: 10px;
    padding-right: 10px;
}

.home-post-upper {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 12px;
    margin-bottom: 10px;
}

.post-upper-prof {
    border-radius: 30px;
    width: 40px;
    margin-right: 9px;
}

.post-input-field { 
    flex: 1;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: none;
    background-color: rgb(58,59,60);
    border-radius: 25px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px; 
}

.story-icon,
.reels-icon,
.rooms-icon {
    width: 22px;
}

.home-post-lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.post-act-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.live-vid-icon,
.photo-vid-icon,
.feel-act-icon {
    width: 35px;
    margin-right: 7px;
}

.live-vid-txt,
.photo-vid-txt,
.feel-act-txt {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.main-right {
    position: fixed;
    top: 60;
    right: 0;
    width: 340px;
}